@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lift Simulator</title>
    <link rel="stylesheet" href="/Content/site.min.css"/>
</head>
<body>
<div class='page-content'>
    <header>
        <h1>Lift Simulator</h1>
        <p class="by">by <span>Sam Medley</span></p>
    </header>
    <div class='content'>

    </div>
    <footer>
        <p>&copy; Sam Medley 2016</p>
    </footer>
</div>
    <script type="text/javascript" src="/Content/angular.min.js"></script>
</body>
</html>
